 
.container {
  padding: 24px;
  height: 100vh;
  
  display: grid;
  grid-template-rows: auto 1fr auto;

  max-width: 1100px;
  margin:0 auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:16px
}

.header:hover{
  cursor: pointer;
}

.footer {
  text-align: center;
  font-size:.75rem;
  display:block;
  margin-bottom:16px;
} 

.themeSwitcher{
  border: none;
  background-color: transparent;
  padding: 0;

  color:var(--text-color-secondary);
  margin-left:5px;

  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}

.themeSwitcher:hover{
  cursor: pointer;
}
