 
.container {
  padding: 24px;
  height: 100vh;
  
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:32px
}

.footer {
  text-align: center;
  font-size:.75rem;
  margin-top:32px;
} 

